/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full viewport height layout */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

button {
  width: 60px;
}

/* Top menu styling */
.top-menu {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main container for panel and canvas */
.main-container {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 50px); /* Deduct top menu height */
}

/* Left panel section */
.panel {
  width: 20%;
  background-color: #f4f4f4;
  display: grid;
  grid-template-rows: 20% auto;
  place-items: center;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.panel___buttons-menu {
  gap: 5px;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel__data {
  width: 100%;
  margin-bottom: auto;
}

/* Canvas container for PIXI app */
.canvas-container {
  width: 80%;
  position: relative;
  background-color: #000; /* Matches PIXI app background */
}

/* Style the canvas to take full space of the canvas container */
canvas#tube {
  width: 100%;
  height: 100%;
}

button.tool.active {
  background-color: #333;
  color: white;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.property-section {
  padding: 15px;
  display: none;
}

.property-section label {
  display: block;
  margin-bottom: 8px;
}

.property-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
